
.hero{
    display: flex;
    justify-content: 100%;
    align-items: center;
    text-align: top;
    color: white;
    margin-bottom: 100px;
    position: relative;
    width: 1300px;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    object-fit:fill;
    min-height: 70vh;
    max-width: 150%;
    max-height: 25%;
    z-index: 2;
    left: 15;
}

.intro{
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 50%;
}
.image-bg{
    position: fixed;
    z-index: -2;
    min-width: 50%;
    min-height: 50%;
    min-height: 100vh;
    opacity: 0.2;
}

.video-bg{
    position: absolute;
    margin-top: 23%;
    top: 0;
    left: 0;
    min-width: 30%;
    max-height: 28%;
    z-index: -1;
    opacity: 0.5;
    
}
